<div class="col-md-3" ng-controller="HomeCtrl">
    <div class="list-group">
        <a href="#!/views/category/1" class="list-group-item"><img src="../../components/img/steam.png">&nbsp;Steam</a>
        <a href="#!/views/category/2" class="list-group-item"><img src="../../components/img/xbox.png">&nbsp;Xbox</a>
        <a href="#!/views/category/3" class="list-group-item"><img src="../../components/img/playstation-logo.png">&nbsp;PlayStation Network</a>
        <a href="#!/views/category/4" class="list-group-item"><img src="../../components/img/nintendo-ds-open.png">&nbsp;Nintendo E-Shop</a>
        <a href="#!/views/category/5" class="list-group-item"><img src="../../components/img/riotfist.png">&nbsp;Riot Games</a>
        <a href="#!/views/category/6" class="list-group-item"><img src="../../components/img/netflix.png">&nbsp;Netflix</a>
    </div>
</div>