<div class="container">
    <hr>
    <!-- Footer -->
    <div>
        <div class="row col-lg-12">
            <div class="col-lg-6 float-right">
                <span class="pay">
                    <i class="fa fa-cc-paypal" aria-hidden="true"></i>
                    <i class="fa fa-cc-visa" aria-hidden="true"></i>
                    <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
                    <i class="fa fa-cc-amex" aria-hidden="true"></i>
                    <i class="fa fa-cc-diners-club" aria-hidden="true"></i>
                </span>
            </div>
            <div class="col-lg-6 float-left copy">
                <p>Copyright &copy; Buy to Sell - 2016 - v<span app-version></span></p>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->